body {
    font-family: 'Nosifer', cursive;
    background-color: black;
    color: gray;
}

button {
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8b0000;
}

a:hover {
    color: #ff4500;
}
